<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div ng-app="skyDogs" id="app-container" class="loading full-size">
            <div id="loading-message" class="full-size"><span>Loading <span id="loading-message-type">Libraries</span></span></div>
            <div class="full-size">
                <div id="map-canvas" class="full-size" />
                <div ng-controller="MenuUIController" id="top-menu" class="ui-elem">
                    <div id="top-menu-icons" class="ui-item-tl">
                        <i ng-click="toggleMenu()" id="menu-toggle" class="fa fa-bars ui-btn" aria-hidden="true"></i>
                        <i ng-click="toggleSearch()" id="search-toggle" class="fa fa-search ui-btn" aria-hidden="true"></i>
                        <input id="search-field">
                        <div id="game-menu">
                            <i id="settings-btn" class="fa fa-cog ui-btn" aria-hidden="true">Settings</i>
                            <i id="quit-btn" class="fa fa-sign-out ui-btn" aria-hidden="true">Quit</i>
                        </div>
                    </div>
                    <div id="map-tab" class="ui-item-tr view-tab ui-btn active">Map</div>
                    <div id="market-tab" class="ui-item-tr view-tab ui-btn">Market</div>
                    <div id="profile-tab" class="ui-item-tr view-tab ui-btn">Profile</div>
                </div>
                <div ng-controller="InfoUIController" id="bottom-menu" class="ui-elem ui-item-br">
                    <i id="speed-btn" class="fa fa-tachometer ui-btn" aria-hidden="true">260 km/h</i>
                    <i id="route-btn" class="fa fa-compass ui-btn" aria-hidden="true">13 min</i>
                    <i id="aircraft-btn" class="fa fa-plane ui-btn" aria-hidden="true">Jumping Jenny</i>
                </div>
                <div ng-controller="MapUIController" id="map-controls" class="ui-elem ui-item-ml">
                    <i ng-click="panN()" class="fa fa-angle-up ui-btn" aria-hidden="true"></i>
                    <i ng-click="panS()" class="fa fa-angle-down ui-btn" aria-hidden="true"></i>
                    <i ng-click="panW()" class="fa fa-angle-left ui-btn" aria-hidden="true"></i>
                    <i ng-click="panE()" class="fa fa-angle-right ui-btn" aria-hidden="true"></i>
                    <i ng-click="toggleFollowUser()" class="fa fa-plane ui-btn" aria-hidden="true"></i>
                    <i ng-click="zoomIn()" class="fa fa-plus ui-btn" aria-hidden="true"></i>
                    <i ng-click="zoomOut()" class="fa fa-minus ui-btn" aria-hidden="true"></i>
                </div>
                <div ng-controller="AircraftUIController" id="aircraft-controls" class="ui-elem ui-item-mr">
                    <div class="gray">Power</div>
                    <i class="fa fa-plus ui-btn" aria-hidden="true"></i>
                    <div>85 %</div>
                    <i class="fa fa-minus ui-btn" aria-hidden="true"></i>
                </div>
                <div ng-controller="CityUIController" id="cityScreen" class="full-size" city_id="{{city.id}}">
                    <div id="cityScreen-container" class="center-xy">
                        <div id="cityScreenLeft">
                            <div id="cityScreen-country" style="{{css}}">
                                <img id="cityScreen-country-flag" ng-src="{{flagUrl}}">
                                <div id="cityScreen-country-name">{{country.name}}</div>
                            </div>
                            <div id="cityScreen-marketBtn" class="cityScreen-btn" ng-click="openCityMarket()">
                                Market
                                <div id="cityScreen-sellAllBtn" class="cityScreen-btn cityScreen-subBtn">Sell All</div>
                            </div>
                            <div id="cityScreen-hangarBtn" class="cityScreen-btn">
                                Hangar
                                <div id="cityScreen-refuelBtn" class="cityScreen-btn cityScreen-subBtn">Refuel</div>
                            </div>
                            <div id="cityScreen-cityhallBtn" class="cityScreen-btn" disabled="true">City Hall</div>
                            <div id="cityScreen-speakeasyBtn" class="cityScreen-btn" disabled="true">Speakeasy</div>
                            <div id="cityScreen-leaveBtn" class="cityScreen-btn">Leave city</div>
                        </div>
                        <div id="cityScreenRight">
                            <div id="cityScreen-name">{{city.name}}</div>
                            <div id="cityScreen-pop">Pop. {{city.population.city}}</div>
                            <div id="cityScreen-content" class="scrollable">
                                <div id="cityMarket" class="cityScreen-contentItem" ng-hide="!market.isActive">
                                    <h1>Market</h1>
                                    <table id="cityScreenMarket" class="tablesorter">
                                        <thead>
                                            <tr>
                                                <td class="borderRight" colspan="2">Commodity</td>
                                                <td class="borderRight" colspan="3">City</td><td colspan="2">You</td>
                                            </tr>
                                            <tr>
                                                <th>Name</th>
                                                <th class="borderRight">Avg.</th>
                                                <th>Buys for</th>
                                                <th>Sells for</th>
                                                <th class="borderRight">Stock</th>
                                                <th>Value</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="co in city.market.getAll()" co_id="{{co.id}}">
                                                <td>{{co.name}}</td>
                                                <td class="borderRight">{{getMoney(co.base_price, true)}}</td>
                                                <td
                                                    style="{{getMarketCommoditySellCss(co)}}"
                                                    ng-disabled="getMarketSellDisabled(co)"
                                                    ng-click="openCityMarketShop($event, 'sell')"
                                                >{{getMoney(co.getBuyPrice().message, true)}}</td>
                                                <td style="{{getMarketBuyCss(co)}}"
                                                    ng-disabled="getMarketBuyDisabled(co)"
                                                    ng-click="openCityMarketShop($event, 'buy')"
                                                >{{getMoney(co.getSalePrice().message, true)}}</td>
                                                <td class="borderRight">{{co.amount}}</td>
                                                <td>{{getMoney(aircraft.getCargo(co).message.valuePerItem)}}</td>
                                                <td>{{aircraft.getCargo(co).message.amount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="cityMarketShop" class="window center-xy" ng-hide="!market.shop.isActive">
                                    <div class="windowHeader">
                                        <select id="shopTypeSelector" ng-model="market.shop.typeSelector">
                                            <option ng-selected="market.shop.buySelected" value="buy">Buy</option>
                                            <option ng-selected="market.shop.sellSelected" value="sell">Sell</option>
                                        </select>
                                        <select id="shopCommoditySelector" ng-model="market.shop.commoditySelector" ng-options="co.name for co in market.commodities.getAll() track by co.id">
                                        </select>
                                        <span class="windowClose" ng-click="closeCityMarketShop()">x</span>
                                    </div>
                                    <div class="windowContent scrollable">
                                        <table id="shopContent">
                                            <tr>
                                                <td>Amount:</td>
                                                <td><input ng-model="market.shop.amount" type=number id="shopAmount" value="1" min="1"></td>
                                                <td class="gray"> {{market.shop.amountAvailable}} available</td>
                                            </tr>
                                            <tr>
                                                <td>Unit Price:</td>
                                                <td>{{getMoney(market.shop.commodityPrice, true)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Unit Weight:</td>
                                                <td>{{market.shop.commodityWeight}} kg</td>
                                            </tr>
                                            <tr class="sum-row">
                                                <td>Total Sum:</td>
                                                <td>{{getMoney(market.shop.priceSum, true)}}</td>
                                                <td rowspan="4"><span id="shopConfirm" class="windowButton" ng-click="confirmCityMarketShop">{{market.shop.typeSelector}}</span></td>
                                            </tr>
                                            <tr class="gray">
                                                <td>Your money:</td>
                                                <td>{{getMoney(player.money, true)}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total Weight:</td>
                                                <td>{{market.shop.weightSum}} kg</td>
                                            </tr>
                                            <tr class="gray">
                                                <td>Free space:</td>
                                                <td>{{aircraft.getFreeCargoSpace()}} kg</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="windowFooter"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="notifications" class="ui-elem ui-item-bl"></div>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.0/mapbox-gl.js'></script>
        <script src='lib/turf.min.js'></script>
        <script src='lib/jquery.tablesorter.min.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.0/mapbox-gl.css' rel='stylesheet' />
        <link href='lib/font-awesome-4.6.3/css/font-awesome.min.css' rel='stylesheet' />
        <script src="scripts/common.js"></script>
        <script src="scripts/objects.js"></script>
        <script>$('#loading-message').css('opacity', 0.5);</script>
        
        <script>$('#loading-message-type').text('Fake Server');</script>
        <script src="scripts/fakeDB.js"></script>
        <script src="scripts/fakeNodeServer.js"></script>
        
        <script>$('#loading-message-type').text('Map');</script>
        <script src="scripts/createMap.js"></script>
        
        <script>$('#loading-message-type').text('Script');</script>
        <script src="scripts/gameScript.js"></script>
        <script src="scripts/drawScreen.js"></script>
        <script src="scripts/UI.js"></script>
        <script src="scripts/UI-city.js"></script>
        <script src="scripts/UI-game.js"></script>
        
        <script>
            $('#loading-message-type').text('ready!');
            
            // as the last act, remove the loading status
            $('#loading-message').fadeOut();
            $('#app-container.loading').removeClass('loading');
        </script>

    </body>
</html>
