/* GLOBALS */

/* elems */
body {
    margin: 0;
    min-height: 100vh;
}

table{ border-spacing: 0; }
    table.tablesorter thead tr:nth-child(2) .header {
        background-image: url(lib/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }
    table.tablesorter thead tr:nth-child(2) .headerSortUp {
        background-image: url(lib/asc.gif);
    }
    table.tablesorter thead tr:nth-child(2) .headerSortDown {
        background-image: url(lib/desc.gif);
    }
        /* legacy */
        td[action] {
            text-decoration: underline;
            cursor: pointer;
        }
        td[disabled] {
            background-color: rgba(0,0,0,0) !important;
        }
        .sum-row > td {
            border-top: 2px #333 solid;
        }

select, input, textarea {
    font-size: inherit;
    border: 2px #333 solid;
}

/* classes */
.full-size {
    height: 100%;
    width: 100%;
}
.borderRight {
    border-right: 1px #333 solid;
}
.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.scrollable {
    overflow-y: scroll;
}
.gray {
    color: #aaa;
    font-size: 0.75em;
}
.fa.active {
    box-shadow: 0px 0px 0.5em 0px #333;
    border-radius: 100%;
    background: #fff;
}

/* attrs */
[disabled="true"], [disabled="disabled"] {
    color: #999 !important;
    background-color: rgba(28,28,28,0.1) !important;
    border-color: #999 !important;
    cursor: not-allowed !important;
}


/* fontawseome fixes */
.fa-plane:before {
    position: relative;
    top: 0.05em;
    right: 0.02em;
}


/* APP */
#app-container {
    position: absolute;
    overflow: hidden;
}
    #app-container #loading-message {
        position: absolute;
        display: table;
        text-align: center;
        background: #fafafa;
        font-size: 3em;
        color: #ddd;
        font-weight: 100;
        z-index: 9999;
    }
        #loading-message>span {
          display: table-cell;
          vertical-align: middle;
        }



/* mapbox */

.marker {
    background-size: contain;
    cursor: pointer;
    text-align: center;
}
.city_marker {
    z-index: 25;
}
.aircraft_marker {
    z-index: 33;
}
.user_marker {
    z-index: 36;
}
    .marker_image {
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    .marker_label {
        color: #333;
        font-size: 1.5em;
        bottom: -1.5em;
        position: absolute;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        line-height: 1em;
        padding: 0.1em 0.2em;
        border-radius: 0.25em;
        border: 2px #333 solid;
    }
    .city_label {
        z-index: 20;
    }
    .aircraft_label {
        z-index: 30;
        bottom: -2.5em;
    }
        .inner_label {
            color: #999;
            font-size: 0.8em;
        }
        .inner_label:before {
            content:'( ';
            font-size: 0.8em;
        }
        .inner_label:after {
            content:' )';
            font-size: 0.8em;
        }


/* UI */
.ui-elem {
    position: absolute;
    z-index: 40;
}

.ui-item-tl,
.ui-item-tr,
.ui-item-ml,
.ui-item-mr,
.ui-item-bl,
.ui-item-br {
    background: #fff;
    border: 2px #999 solid;
    box-shadow: 0px 0px 5px 3px #666;
}
.ui-item-tl {
    border-top: none;
    border-left: none;
}
.ui-item-tr {
    border-top: none;
    border-right: none;
}
.ui-item-ml {
    border-left: none;
    top: 50%;
    transform: translateY(-50%);
}
.ui-item-mr {
    border-right: none;
    top: 50%;
    transform: translateY(-50%);
}
.ui-item-bl {
    border-bottom: none;
    border-left: none;
}
.ui-item-br {
    border-bottom: none;
    border-right: none;
}

.ui-btn {
    cursor: pointer;
}


/* top menu */
#top-menu {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    font-size: 2em;
    z-index: 50;
}
    #top-menu .center-xy {
        top: 50vh;
        left: 50vw;
    }
    #top-menu-icons {
        position: absolute;
    }

        #top-menu-icons>i {
            padding: 0.1em;
            height: 1em;
            width: 1em;
            text-align: center;
            margin: 0.1em;
        }

        #game-menu {
            display: none;
        }
            #game-menu>i {
                display: block;
                padding: 0.2em 0.1em;
                margin: 0.2em;
            }
                #game-menu>i:before {
                    margin-right: 0.2em;
                }
        #search-field {
            display: none;
        }

    .view-tab {
        display: inline-block;
        float: right;
        padding: 0.2em 0.4em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 0px;
        border: none;
        position: relative;
    }
    .view-tab.active {
        z-index:1;
        padding: 0.4em;
    }

#worldMarketFilterBtn.active {
    border-radius: 0;
    background: #eee;
    color: #333;
}
    #worldMarketFilterBtn .fa-filter:before {
        margin-right: 0.5em;
    }
#world-market-filters {
    position: absolute;
    background: #eee;
    left: 0;
    top: 2em;
    font-size: 1rem;
    border-bottom: 2px #333 solid;
    text-align: center;
    display: none;
    width: 100%;
}
    #world-market-filters table{
        width: 100%;
    }
        #world-market-filters td {
            border-bottom: 1px #333 solid;
            padding: 0.5em
        }
            #world-market-filters input[type="number"] {
                width: 4em;
                margin: 0 1em;
                padding: 0.2em;
            }


    #world-market {
            font-size: 1rem;
    }
        #world-market th {
            padding: 0 0.33em 0.5em;
            white-space: nowrap;
        }
        #world-market td {
            text-align: center;
            padding: 0.2em 0.5em;
        }
        #world-market td[ng-click] {
            text-decoration: underline;
            cursor:pointer;
        }


/* bottom menu */
#bottom-menu {
    bottom: 0;
    right: 0;
    z-index: 45;
}
    #bottom-menu>i {
        padding: 0.25em 0.5em;
        border-right: 1px #999 solid;
        line-height: 2em;
    }
    #bottom-menu>i:last-child {
        border-right: none;
    }
        #bottom-menu>i:before {
            font-size: 2em;
            margin-right: 0.25em;
            bottom: -0.1em;
            position: relative;
        }

/* map controls */
#map-controls {
    font-size: 2em;
    width: 4em;
    height: 7em;
    text-align: center;
}
    #map-controls>.fa {
        width: 1em;
        height: 1em;
        position: absolute;
    }

    #map-controls .fa-angle-up {
        top: 1.5em;
        left: 1.5em;
    }
    #map-controls .fa-angle-down {
        top: 4.5em;
        left: 1.5em;
    }
    #map-controls .fa-angle-left {
        top: 3em;
        left: 0em;
    }
    #map-controls .fa-angle-right {
        top: 3em;
        left: 3em;
    }
    #map-controls .fa-plane {
        top: 3em;
        left: 1.5em;
    }
    #map-controls .fa-plus {
        top: 0.5em;
        left: 1.5em;
    }
    #map-controls .fa-minus {
        top: 5.75em;
        left: 1.5em;
    }

/* aircraft controls */
#aircraft-controls {
    font-size: 2em;
    right: 0;
    padding: 0.5em;
    text-align: center;
}
    #aircraft-controls .fa-plus {
        margin-bottom: 0.5em;
    }
    #aircraft-controls .fa-minus {
        margin-top: 0.5em;
    }

/* notifications */
#notifications {
    bottom: -0.5em;
    max-width: 50%;
    z-index: 45;
}
    .notification {
        overflow: hidden;
        height: 2em;
        position: relative;
        margin: 0.5em 0.2em;
        padding-right: 2.1em;
        white-space: nowrap;
        border-bottom: 1px #ddd solid;
    }
    .notification:last-child {
        border-bottom: none;
    }
        .notification>i {
            width: 1em;
            text-align: center;
            font-size: 1.5em;
            position: relative;
            top: 0.18em;
        }
        .notification>.fa-info {
            color: #629bce;
        }
        .notification>.fa-exclamation {
            color: darkred
        }
        .notification>.fa-times {
            position: absolute;
            top: 0.1em;
            right: 0;
            box-shadow: 0px 0px 1em 0.6em #fff;
            background: #fff;
            color: #8b0000;
        }


/* window */
.window {
    background: #fff;
    border: 3px #333 solid;
    border-radius: 6px;
    font-size: 1.5rem;
    max-width: 90vw;
    z-index: 46;
    max-height: 90vh;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.window.active {
    z-index: 47;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}
    .windowHeader {
        border-bottom: 1px #333 solid;
        background: #444;
        padding-left: 0.5em;
        color: #fff;
        position: relative;
        padding-right: 1.5em;
        opacity: 0.8
    }
    .active .windowHeader {
        opacity: 1;
    }
    .warn .windowHeader {
        background: #d00;
    }
        .windowHeader select {
          background: transparent;
          color: #fff;
          padding: 0 0.5em;
          margin: 0.25em;
        }
            .windowHeader option {
              color: #333;
            }
        .windowClose {
            display: inline-block;
            float: right;
            width: 1.2em;
            line-height: 1em;
            text-align: center;
            background: red;
            height: 100%;
            border-left: 1px#333 solid;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
        }
    .windowContent {
        max-height: 66vh;
        width: 96%;
        padding: 0.25em 0.5em;
    }
    .windowFooter {
        padding: 0.25em 0.5em;
    }
    .windowButton {
        display: inline-block;
        padding: 0.1em 0.5em;
        border: 2px #333 solid;
        margin: 0 0.25em;
        cursor: pointer;
    }
    .windowButton:first-child {
        margin-left: 0;
    }
    .windowButton:last-child {
        margin-right: 0;
    }



/* city screen */

#cityScreen {
    display: none;
    position: absolute;
    top: 0;
    z-index: 43;
    background: rgba(0,0,0,0.75);
}
#cityScreen-container {
    width: 90%;
    max-width: 1000px;
    background: #e3dfcf;
    max-height: 98vh;
    border: 10px #333 solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #ddd;
}
    #cityScreenLeft {
        width: 30%;
        float: left;
    }
        #cityScreen-country {
            border-right: 5px #333 solid;
            border-bottom: 5px #333 solid;
            border-bottom-right-radius: 10px;
            margin-bottom: 1em;
        }
            #cityScreen-country-flag {
                width: 100%;
                border-bottom: 5px #333 solid;
            }
            #cityScreen-country-name {
                text-align: center;
                font-size: 1.5em;
                padding: 0.5em 0;
            }
        .cityScreen-btn {
            position: relative;
            text-align: center;
            font-size: 2em;
            padding: 0.5em;
            border: 5px #333 solid;
            margin-bottom: 0.5em;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            border-left: 0;
            cursor: pointer;
            transition: all 0.5s;
            background: #eee;
        }
        .cityScreen-btn:hover {
            background: #fff;
        }
            .cityScreen-btn .cityScreen-subBtn {
                position: absolute;
                left: 100%;
                left: calc(100% + 5px);
                white-space: nowrap;
                top: 50%;
                transform: translateY(-50%);
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;
                font-size: 0.75em;
                overflow: hidden;
                padding: 0.5em 0;
                width: 0;
                border-width:0;
            }
            .cityScreen-btn:hover .cityScreen-subBtn {
                padding: 0.5em;
                width: auto;
                border-width: 3px;
            }
    #cityScreenRight {
        width: 70%;
        float: right;
        overflow: hidden;
    }
        #cityScreen-name {
            text-align: center;
            font-size: 3em;
            margin-top: 0.3333em;
            line-height: 1em;
        }

        #cityScreen-pop {
            text-align: center;
            color: #555;
            padding-bottom: 0.5em;
            border-bottom: 3px #333 solid;
            margin-bottom: 0.5em;
        }
        #cityScreen h1 {
            margin: 0.5em 0;
            text-align: center;
        }
        #cityScreen-content {
            width: 103%;
            max-height: 80vh;
        }
        
        /* market */
        #cityScreenMarket {
            width: 100%;
            text-align: center;
        }
            #cityScreenMarket td[ng-click]:not([disabled]) {
                text-decoration: underline;
                cursor: pointer;
            }

        #cityMarketShop {
            min-width: 25em;
        }
            #shopContent {
                width: 100%;
                line-height: 1.5em;
            }
                #shopAmountAvailable {
                    white-space: nowrap;
                }
                #shopAmount {
                    max-width: 5em;
                    padding: 0 0.25em;
                }

/* world market window */
#worldMarketWindow {
    width: 35em;
    font-size: 1em;
    text-align: center;
}
    #worldMarketWindow .windowHeader {
        font-size: 1.5em;
        padding: 0.1em 0;
    }
    #worldMarket {
        width: 100%;
    }
