body {
    margin: 0;
    min-height: 100vh;
}
.full-size {
    height: 100%;
    width: 100%;
}
#app-container {
    position: absolute;
}
    #app-container #loading-message {
        position: absolute;
        display: table;
        text-align: center;
        background: #fafafa;
        font-size: 3em;
        color: #ddd;
        font-weight: 100;
        z-index: 9999;
    }
        #loading-message>span {
          display: table-cell;
          vertical-align: middle;
        }
    #logger {
        position: absolute;
        bottom: 0;
        width: 50%;
        background: #ccc;
        font-family: monospace;
        margin: 0;
        z-index: 100;
    }

/* mapbox */
.marker {
    background-size: contain;
    cursor: pointer;
}
.city_marker {
    z-index: 35;
}
.aircraft_marker {
    z-index: 45;
}
.user_marker {
    z-index: 90;
}
    .marker_image {
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    .marker_label {
        color: #333;
        font-size: 1.5em;
        bottom: -1.5em;
        position: absolute;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        line-height: 1em;
        padding: 0.1em 0.2em;
        border-radius: 0.25em;
        border: 2px #333 solid;
    }
    .city_label {
        z-index: 30;
    }
    .aircraft_label {
        z-index: 40;
    }